*.parquet
*.tif
*.tiff
*.png
*.png.aux.xml
*.txt
*.pickle
*.zip
*.docx
*.ipynb_checkpoints*
*.idea*
*__pycache__*
*.tif.aux.xml
supplementary_materials/
7_YOLO_boxes_visualisation/*
notebooks/yolov3/*
notebooks/yolov5/*
image_object_slicer/
image_object_slicer/*
notebooks/datasets/
notebooks/datasets/*
noteboks/PyTorch-YOLOv3/
noteboks/PyTorch-YOLOv3/*
noteboks/TheCodingBug/
noteboks/TheCodingBug/*
passwords.py